/.vs/
/.vscode/
/.venv/
/artifacts/
/build/
/SGK*/
/SGGK/

*.dll
*.dylib
*.exe
*.lib
*.lic
*.log
*.obj
*.pdb
*.so
*.tlog

__pycache__/
*.py[cod]
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/

CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
cmake_install.cmake
*.sln
*.vcxproj.user

